.scoreBoard {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    flex-wrap: wrap;
}
.gameSection {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 5rem;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}
.matchInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 20px;
}